extends layout

block content
  h1 Welcome to IBND
  p.lead
    if(!user)
        | Please register or login
    else
        | You are logged in, you can start
        a(href='/track')=" tracking your weight !"
